*::before, *::after {
  box-sizing: border-box;
}


body {
  background: linear-gradient(95deg, rgb(3, 16, 60), rgb(3, 24, 75), rgba(2, 8, 58, 0.999));
}


.header, 
.subheader {
  text-align: center;
}


.header {
  font-size: 1.25rem;
  color: rgb(49, 110, 214);
}


.subheader {
  font-size: 0.75rem;
  color: rgba(108, 153, 231, 0.643);
}


.category__main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0.66em 1.2em;
}


.programming-section, 
.science-section,
.history-section,
.math-section {
  background:rgb(3, 16, 60);
  border: 2px solid rgba(73, 188, 255, 0.431);
  border-radius: 10px;
  padding: 0.56em;
  width: 100%;
  max-width: 400px;
  margin: 2rem auto;
  color: rgb(255, 255, 255);
  transition: transform 0.3s, background 0.3s;
}


.programming-section:hover,
.science-section:hover,
.history-section:hover,
.math-section:hover {
  transform: scale(1.05);
  background: linear-gradient(205deg, rgb(12, 52, 130), rgb(18, 65, 158), rgb(36, 107, 173),  rgb(9, 64, 126));
}


.svg-wrapper svg {
  display: flex;
  margin: 0 auto;
  background:rgb(7, 33, 117);
  border: 2px solid rgba(73, 188, 255, 0.187);
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
  max-width: 20px;
}


svg {
  font-size: 20px;
}


.section-title,
.section-desc {
  text-align: center;
}

.section-title {
  font-weight: 600;
  font-size: .98rem;
}


.section-desc {
  font-weight: 400;
  color: rgba(212, 212, 212, 0.48);
  font-size: .68rem;
}


.start-btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 350px;
  padding: .36em;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
  background: rgb(0, 136, 255);
  box-shadow: 0px 3px 10px rgba(0, 136, 255, 0.659);
  transition: background 0.4s;
}


.start-btn:hover {
  background: rgb(3, 52, 212);
  box-shadow: 0px 3px 10px rgba(0, 0, 255, 0.48);
  cursor: pointer;
}